extends layout 

block content 
  nav(class="nav")
    div(class="nav_container")
      div(class= "nav_logo")
        img(src="/images/UEALogo.png", alt="", id="logo")

      ul(class="nav_list")

        li 
         a(class = "nav_option", href='main') Home
        li 
         a(class = "nav_option", href='bookings') Bookings
        li 
         a(class = "nav_option", href='bookings')
        li  
         a(class = "nav_option", href='bookings')
         
  main
    section(class="booking_content")

      div(id ="requests_display")
      h1 My requests

       if userRequests.length > 0
        table
          thead
            tr
              th Destination
              th Department
              th Arrival Date
              th Departure Date
              th Current status
          tbody
            each request in userRequests
              tr
                td= request.destination
                td= request.department
                td= request.arriveDate
                td= request.departDate
                td= request.approvedStatus

      div(id ="bookings_display")
      h1 My Bookings
       if userBookings.length > 0
        table
          thead
            tr
              th Destination
              th Department
              th Arrival Date
              th Departure Date
          tbody
            each booking in userBookings
              tr
                td= booking.department
                td= booking.destination
                td= booking.arriveDate
                td= booking.departDate
