extends layout 

block content 
  nav(class="nav")
    div(class="nav_container")
      div(class= "nav_logo")
        img(src="/images/UEALogo.png", alt="", id="logo")
      ul(class="nav_list")
        li
          if userID == '66424281484b7968a5d38f49'
            a(class = "nav_option", href='mainAdmin') Admin
        li 
         a(class = "nav_option", href='manageAccounts') Manage Accounts
        li  
         a(class = "nav_option", href='account') Account
        li  
         a(class = "nav_option", href='helpAdmin') Help Users
          

  main
   section(class = "admin_main_content")
    div(class ="requests")
      h2 Manage requests
      ul 
       each request in userRequests
        div(class = "manage_request_item")
          li(class = "list_item")
          
            dialog(id = `request-dialog-${request._id}`, class= "request-dialogs")

              h1 Information
              ul
              li Request made: #{request.dateCreated} 
              li UserID: #{request.userID}  
              li Destination: #{request.destination} 
              li Department: #{request.department} 
              li Arrival date: #{request.arriveDate} 
              li Departure date: #{request.departDate}
              br

              form(action='/mainAdmin/approveRequest', method='POST', class = "approve_reject", id = "approve")
                input(type="hidden", name ="id", value = request._id)
                button(type = "submit") Approve

                label(for="location") Assign carpark
                select(name="location", id="location") 
                  each carpark in carparks
                    option(id = `${carpark.id}`, class = "location_options", value = `${carpark.id}`) #{carpark.name}

              form(action='/mainAdmin/rejectRequest', method='POST', class = "approve_reject", id = "reject")
                input(type="hidden", name ="id", value = request._id)
                button(type = "submit") Reject
       else
        li NO REQUESTS

    div(class = "carparks")
      h2 Car park status
        button(onclick="showNewParkingDialog()", id = "new_car_park") Create new parking lot
      dialog(id = "newParking-dialog")
          h2 Create new parking lot 
          
          form(action='/mainAdmin/CreateNewParkingLot', method= 'POST') 
            label(for="newLotName") Name
            input(type="text", name ="newLotName")

            label(for="newLotMaxCapacity") Max Capacity
            input(type="text", name="newLotMaxCapacity")

            input(type="submit", value = "Create") 
            button(onclick="closeNewParkingDialog()", type ="button") Cancel
            
      ul
       
       each carpark in carparks
         div(class = "car_park_item")

          li 
            img(id = "parking_lot_img", src='/images/UEACarPark.jpg' alt='Parking Lot Image') 
            br
            br
            br
            br
            p ID: #{carpark._id} 
            p Name: #{carpark.name}  
            p Capacity: #{carpark.max_capacity} 
            p Available: #{carpark.available} 
            p Occupied: #{carpark.occupied} 
            p Reserved: #{carpark.reserved}
            div(class = "car_park_buttons")
              form(action='/mainAdmin/deleteLot', method='POST', class = "park_buttons")
                input(type="hidden", name ="id", value = carpark._id)
                button(type = "submit") Delete lot

              form(action='/mainAdmin/reserveSpace', method='POST', class = "park_buttons")
                input(type="hidden", name ="id", value = carpark._id)
                button(type = "submit") Reserve Space

              form(action='/mainAdmin/blockSpace', method='POST', class = "park_buttons")
                input(type="hidden", name ="id", value = carpark._id)
                button(type = "submit") Block space
      

         
      script(src="/javascripts/adminClient.js")
  form(action='/main/logout', METHOD = 'POST', id = "logout_button")
    input(type="submit", name="logout", value = "Logout", id = "logout_input")
