extends layout 

block content 
  nav(class="nav")
    div(class="nav_container")
      div(class= "nav_logo")
        img(src="/images/UEALogo.png", alt="", id="logo")
      ul(class="nav_list")
        li 
         a(class = "nav_option", href='bookings') Account
        li  
         a(class = "nav_option", href='help') Help
        li  
         a(class = "nav_option", href='manageAccounts') Manage Accounts

  main
   section(class = "admin_main_content")
    div(class ="requests")
      h2 Manage requests
      ul 
       each request in userRequests
        div(class = "manage_request_item")

            li(class = "list_item") Request made: #{request.dateCreated} UserID: #{request.userID} 
              button(onclick="showRequestDialog(this.id)", class = "show-request-dialog", id = `${request._id}`) Show more info

              dialog(id = `request-dialog-${request._id}`, class= "request-dialogs")

                h1 Information
                li Request made: #{request.dateCreated} UserID: #{request.userID}  Destination: #{request.destination} Department: #{request.department} Arrival date: #{request.arriveDate} Departure date: #{request.departDate}

                form(action='/mainAdmin/approveRequest', method='POST', class = "approve_reject", id = "approve")

                  input(type="hidden", name ="id", value = request._id)
                  button(type = "submit") Approve
                  label(for="location") Assign location
                  select(name="location", id="location") 
                    each carpark in carparks
                      option #{carpark.name}

                form(action='/mainAdmin/rejectRequest', method='POST', class = "approve_reject", id = "reject")
                  input(type="hidden", name ="id", value = request._id)
                  button(type = "submit") Reject
       else
        li NO REQUESTS

    div(class = "carparks")
      h2 Car park status
        button(onclick="showNewParkingDialog()", id = "new_car_park") Create new parking lot
      dialog(id = "newParking-dialog")
          h2 Create new parking lot 
          
          form(action='/mainAdmin/CreateNewParkingLot', method= 'POST') 
            label(for="newLotName") Name
            input(type="text", name ="newLotName")

            label(for="newLotMaxCapacity") Max Capacity
            input(type="text", name="newLotMaxCapacity")

            input(type="submit", value = "Create") 
            button(onclick="closeNewParkingDialog()", type ="button") Cancel
            
      ul
       
       each carpark in carparks
         div(class = "car_park_item")

          li 
            img(id = "parking_lot_img", src='/images/UEACarPark.jpg' alt='Parking Lot Image') 
            |  Name: #{carpark._id} #{carpark.name}  Capacity: #{carpark.max_capacity} Avaiable: #{carpark.available} Occupied: #{carpark.occupied} Reserved: #{carpark.reserved}
          div(car_park_buttons)
            form(action='/mainAdmin/deleteLot', method='POST', class = "park_buttons")
            input(type="hidden", name ="id", value = carpark._id)
            button(type = "submit") Delete lot

              form(action='/mainAdmin/reserveSpace', method='POST', class = "park_buttons")
                input(type="hidden", name ="id", value = carpark._id)
                button(type = "submit") Reserve Space

              form(action='/mainAdmin/blockSpace', method='POST', class = "park_buttons")
                input(type="hidden", name ="id", value = carpark._id)
                button(type = "submit") Block space
      

         
      script(src="/javascripts/adminClient.js")